Package: com.tune.tweaklang
Name: TweakLang
Depends: mobilesubstrate, preferenceloader
Version: 1.1.6
Architecture: iphoneos-arm64
Description: 为单个越狱插件偏好设置页面自定义显示语言
 Customize the display language of individual jailbreak tweak preference panes in Settings.
Homepage: https://github.com/tunecc/TweakLang
SileoDepiction: https://raw.githubusercontent.com/tunecc/TweakLang/main/depictions/sileo.json
Icon: : https://raw.githubusercontent.com/tunecc/TweakLang/main/tweaklang.png
Maintainer: Tune
Author: Tune
Section: Tweaks
